.Rproj.user
.Rhistory
.RData
inst/doc
condir.Rproj
devtools-cheatsheet.pdf
devtoolsOptions.R
log.R
obsolete
plotBF.robustnessCheck.R
report.txt
.txt
README.rmd
generationOfReadMe.R
.DS_Store
README.html
figure
README.md
